* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_267 {
  width: 100%;
  height: 3144px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_268 {
  width: 100%;
  height: 3143px;
  background: url("../images/v15_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_269 {
  width: 100%;
  height: 115px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_270 {
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 0px;
  overflow: hidden;
}
.v15_271 {
  width: 100%;
  height: 70px;
  background: url("../images/v15_271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v15_272 {
  width: 139px;
  height: 50px;
  background: rgba(211,168,99,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 960px;
  overflow: hidden;
}
.v15_273 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 38px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_274 {
  width: 294px;
  height: 70px;
  background: url("../images/v15_274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 55px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 386px;
  overflow: hidden;
}
.v15_275 {
  width: 44px;
  height: 70px;
  background: url("../images/v15_275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_276 {
  width: 43px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_277 {
  width: 46px;
  height: 70px;
  background: url("../images/v15_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v15_278 {
  width: 45px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_279 {
  width: 78px;
  height: 70px;
  background: url("../images/v15_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 203px;
  overflow: hidden;
}
.v15_280 {
  width: 76px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_281 {
  width: 39px;
  height: 70px;
  background: url("../images/v15_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 337px;
  overflow: hidden;
}
.v15_282 {
  width: 38px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_283 {
  width: 84px;
  height: 70px;
  background: url("../images/v15_283.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 433px;
  overflow: hidden;
}
.v15_284 {
  width: 83px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_285 {
  width: 176px;
  height: 36px;
  background: url("../images/v15_285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v15_286 {
  width: 100%;
  height: 115px;
  background: url("../images/v15_286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
  overflow: hidden;
}
.v15_287 {
  width: 219px;
  height: 115px;
  background: url("../images/v15_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 880px;
  overflow: hidden;
}
.v15_288 {
  width: 139px;
  height: 50px;
  background: rgba(211,168,99,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 79px;
  overflow: hidden;
}
.v15_289 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 38px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_290 {
  width: 40px;
  height: 115px;
  background: url("../images/v15_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v15_291 {
  width: 26px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_292 {
  width: 14px;
  height: 14px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 16px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v15_293 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 4px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v15_294 {
  width: 294px;
  height: 115px;
  background: url("../images/v15_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 55px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 338px;
  overflow: hidden;
}
.v15_295 {
  width: 44px;
  height: 115px;
  background: url("../images/v15_295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_296 {
  width: 43px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_297 {
  width: 46px;
  height: 115px;
  background: url("../images/v15_297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v15_298 {
  width: 45px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_299 {
  width: 78px;
  height: 115px;
  background: url("../images/v15_299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 203px;
  overflow: hidden;
}
.v15_300 {
  width: 76px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_301 {
  width: 39px;
  height: 115px;
  background: url("../images/v15_301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 337px;
  overflow: hidden;
}
.v15_302 {
  width: 38px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_303 {
  width: 84px;
  height: 115px;
  background: url("../images/v15_303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 433px;
  overflow: hidden;
}
.v15_304 {
  width: 83px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_305 {
  width: 234px;
  height: 48px;
  background: url("../images/v15_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v15_306 {
  width: 100%;
  height: 2259px;
  background: url("../images/v15_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v15_307 {
  width: 100%;
  height: 1804px;
  background: url("../images/v15_307.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 147px;
  overflow: hidden;
}
.v15_308 {
  width: 100%;
  height: 769px;
  background: rgba(247,243,240,1);
  opacity: 1;
  position: absolute;
  top: 1034px;
  left: 155px;
  overflow: hidden;
}
.v15_356 {
  width: 100%;
  height: 543px;
  background: url("../images/v15_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 155px;
  overflow: hidden;
}
.v15_309 {
  width: 100%;
  height: 388px;
  background: url("../images/v15_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.v15_310 {
  width: 252px;
  height: 358px;
  background: url("../images/v15_310.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v15_311 {
  width: 78px;
  height: 30px;
  background: url("../images/v15_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 90px;
  overflow: hidden;
}
.v15_312 {
  width: 76px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_313 {
  width: 252px;
  height: 58px;
  background: url("../images/v15_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 0px;
  overflow: hidden;
}
.v15_314 {
  width: 57px;
  height: 30px;
  background: url("../images/v15_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 97px;
  overflow: hidden;
}
.v15_315 {
  width: 57px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_316 {
  width: 169px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 8px;
  left: 41px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_317 {
  width: 252px;
  height: 252px;
  background: url("../images/v15_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_318 {
  width: 277px;
  height: 277px;
  background: url("../images/v15_318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v15_319 {
  width: 43px;
  height: 19px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 181px;
  overflow: hidden;
}
.v15_320 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_321 {
  width: 252px;
  height: 358px;
  background: url("../images/v15_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 297px;
  overflow: hidden;
}
.v15_322 {
  width: 107px;
  height: 32px;
  background: url("../images/v15_322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 75px;
  overflow: hidden;
}
.v15_323 {
  width: 86px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_324 {
  width: 18px;
  height: 28px;
  background: url("../images/v15_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  overflow: hidden;
}
.v15_325 {
  width: 18px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_326 {
  width: 252px;
  height: 58px;
  background: url("../images/v15_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 0px;
  overflow: hidden;
}
.v15_327 {
  width: 57px;
  height: 30px;
  background: url("../images/v15_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 97px;
  overflow: hidden;
}
.v15_328 {
  width: 57px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_329 {
  width: 184px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 8px;
  left: 34px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_330 {
  width: 252px;
  height: 252px;
  background: url("../images/v15_330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_331 {
  width: 277px;
  height: 277px;
  background: url("../images/v15_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v15_332 {
  width: 252px;
  height: 358px;
  background: url("../images/v15_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 580px;
  overflow: hidden;
}
.v15_333 {
  width: 107px;
  height: 32px;
  background: url("../images/v15_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 75px;
  overflow: hidden;
}
.v15_334 {
  width: 86px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_335 {
  width: 18px;
  height: 28px;
  background: url("../images/v15_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  overflow: hidden;
}
.v15_336 {
  width: 18px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_337 {
  width: 252px;
  height: 58px;
  background: url("../images/v15_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 0px;
  overflow: hidden;
}
.v15_338 {
  width: 57px;
  height: 30px;
  background: url("../images/v15_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 97px;
  overflow: hidden;
}
.v15_339 {
  width: 57px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_340 {
  width: 187px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 8px;
  left: 33px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_341 {
  width: 252px;
  height: 252px;
  background: url("../images/v15_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_342 {
  width: 277px;
  height: 277px;
  background: url("../images/v15_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v15_343 {
  width: 252px;
  height: 358px;
  background: url("../images/v15_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 862px;
  overflow: hidden;
}
.v15_344 {
  width: 107px;
  height: 32px;
  background: url("../images/v15_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 75px;
  overflow: hidden;
}
.v15_345 {
  width: 86px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_346 {
  width: 18px;
  height: 28px;
  background: url("../images/v15_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  overflow: hidden;
}
.v15_347 {
  width: 18px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_348 {
  width: 252px;
  height: 58px;
  background: url("../images/v15_348.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 0px;
  overflow: hidden;
}
.v15_349 {
  width: 57px;
  height: 30px;
  background: url("../images/v15_349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 97px;
  overflow: hidden;
}
.v15_350 {
  width: 57px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_351 {
  width: 181px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 8px;
  left: 35px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_352 {
  width: 252px;
  height: 252px;
  background: url("../images/v15_352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_353 {
  width: 277px;
  height: 277px;
  background: url("../images/v15_353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
  overflow: hidden;
}
.v15_354 {
  width: 614px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 69px;
  left: 258px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_355 {
  width: 284px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 423px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v15_357 {
  width: 100%;
  height: 901px;
  background: url("../images/v15_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v15_358 {
  width: 100%;
  height: 161px;
  background: url("../images/v15_358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 49px;
  opacity: 1;
  position: absolute;
  top: 681px;
  left: 0px;
  overflow: hidden;
}
.v15_359 {
  width: 402px;
  height: 41px;
  background: url("../images/v15_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_360 {
  width: 99px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_361 {
  width: 209px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 0px;
  left: 149px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_362 {
  width: 94px;
  color: rgba(60,60,60,1);
  position: absolute;
  top: 0px;
  left: 408px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_363 {
  width: 100%;
  height: 120px;
  background: url("../images/v15_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 0px;
  overflow: hidden;
}
.v15_364 {
  width: 100%;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_365 {
  width: 100%;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_366 {
  width: 100%;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 59px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_367 {
  width: 100%;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 89px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_368 {
  width: 100%;
  height: 541px;
  background: url("../images/v15_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v15_369 {
  width: 596px;
  height: 541px;
  background: url("../images/v15_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_370 {
  width: 536px;
  height: 541px;
  background: url("../images/v15_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v15_371 {
  width: 112px;
  height: 453px;
  background: url("../images/v15_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 22px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_372 {
  width: 90px;
  height: 90px;
  background: url("../images/v15_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v15_373 {
  width: 90px;
  height: 90px;
  background: url("../images/v15_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 11px;
  overflow: hidden;
}
.v15_374 {
  width: 90px;
  height: 90px;
  background: url("../images/v15_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 11px;
  overflow: hidden;
}
.v15_375 {
  width: 90px;
  height: 90px;
  background: url("../images/v15_375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 11px;
  overflow: hidden;
}
.v15_376 {
  width: 90px;
  height: 90px;
  background: url("../images/v15_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 11px;
  overflow: hidden;
}
.v15_377 {
  width: 424px;
  height: 541px;
  background: url("../images/v15_377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  overflow: hidden;
}
.v15_378 {
  width: 424px;
  height: 541px;
  background: url("../images/v15_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_379 {
  width: 39px;
  height: 19px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 499px;
  overflow: hidden;
}
.v15_380 {
  width: 28px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_381 {
  width: 563px;
  height: 503px;
  background: url("../images/v15_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 596px;
  overflow: hidden;
}
.v15_382 {
  width: 235px;
  height: 32px;
  background: url("../images/v15_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 30px;
  overflow: hidden;
}
.v15_383 {
  width: 96px;
  height: 32px;
  background: url("../images/v15_383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 109px;
  overflow: hidden;
}
.v15_384 {
  width: 32px;
  height: 32px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v15_385 {
  width: 10px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 11px;
  overflow: hidden;
}
.v15_386 {
  width: 8px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_387 {
  width: 32px;
  height: 32px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 46px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v15_388 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v15_389 {
  width: 16px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v15_390 {
  width: 32px;
  height: 32px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 93px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v15_391 {
  width: 14px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 9px;
  overflow: hidden;
}
.v15_392 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v15_393 {
  width: 99px;
  height: 32px;
  background: url("../images/v15_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_394 {
  width: 100px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_395 {
  width: 503px;
  height: 90px;
  background: url("../images/v15_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 30px;
  overflow: hidden;
}
.v15_396 {
  width: 51px;
  height: 30px;
  background: url("../images/v15_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_397 {
  width: 33px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_398 {
  width: 18px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 41px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_399 {
  width: 171px;
  height: 30px;
  background: url("../images/v15_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v15_400 {
  width: 67px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_401 {
  width: 104px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 75px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_402 {
  width: 171px;
  height: 30px;
  background: url("../images/v15_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v15_403 {
  width: 36px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_404 {
  width: 135px;
  color: rgba(91,88,88,1);
  position: absolute;
  top: 0px;
  left: 44px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v15_405 {
  width: 463px;
  height: 62px;
  background: url("../images/v15_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 30px;
  overflow: hidden;
}
.v15_406 {
  width: 247px;
  height: 62px;
  background: url("../images/v15_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_407 {
  width: 78px;
  height: 65px;
  background: url("../images/v15_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 155px;
  overflow: hidden;
}
.v15_408 {
  width: 22px;
  height: 62px;
  background: url("../images/v15_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
  overflow: hidden;
}
.v15_409 {
  width: 9px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 0px;
  left: 6px;
  font-family: Inter;
  font-weight: Light;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v15_410 {
  width: 25px;
  height: 62px;
  background: url("../images/v15_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 26px;
  overflow: hidden;
}
.v15_411 {
  width: 25px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_412 {
  width: 22px;
  height: 62px;
  background: url("../images/v15_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_413 {
  width: 9px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 0px;
  left: 6px;
  font-family: Inter;
  font-weight: Light;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v15_414 {
  width: 72px;
  height: 62px;
  background: url("../images/v15_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v15_415 {
  width: 73px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_416 {
  width: 215px;
  height: 62px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 257px;
  overflow: hidden;
}
.v15_417 {
  width: 93px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 70px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v15_418 {
  width: 18px;
  height: 28px;
  background: url("../images/v15_418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 45px;
  overflow: hidden;
}
.v15_419 {
  width: 18px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_420 {
  width: 503px;
  height: 60px;
  background: url("../images/v15_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -1px;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 30px;
  overflow: hidden;
}
.v15_421 {
  width: 499px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_422 {
  width: 260px;
  color: rgba(56,56,56,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_423 {
  width: 93px;
  height: 49px;
  background: url("../images/v15_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 30px;
  overflow: hidden;
}
.v15_424 {
  width: 94px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_425 {
  width: 280px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 9px;
  left: 30px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v15_426 {
  width: 100%;
  height: 355px;
  background: rgba(211,168,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_427 {
  width: 100%;
  height: 355px;
  background: url("../images/v15_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_428 {
  width: 393px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 142px;
  left: 516px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v15_429 {
  width: 100%;
  height: 769px;
  background: rgba(211,168,99,1);
  opacity: 1;
  position: absolute;
  top: 2374px;
  left: 0px;
  overflow: hidden;
}
.v15_430 {
  width: 100%;
  height: 147px;
  background: url("../images/v15_430.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 147px;
  overflow: hidden;
}
.v15_431 {
  width: 243px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 116px;
  left: 442px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v15_432 {
  width: 40px;
  height: 28px;
  background: url("../images/v15_432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 545px;
  overflow: hidden;
}
.v15_433 {
  width: 36px;
  height: 36px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 593px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v15_434 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  overflow: hidden;
}
.v15_435 {
  width: 18px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v15_436 {
  width: 36px;
  height: 36px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 547px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v15_437 {
  width: 15px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 10px;
  overflow: hidden;
}
.v15_438 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v15_439 {
  width: 36px;
  height: 36px;
  background: rgba(199,72,23,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 501px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v15_440 {
  width: 11px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  overflow: hidden;
}
.v15_441 {
  width: 9px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_442 {
  width: 100%;
  height: 365px;
  background: url("../images/v15_442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 147px;
  overflow: hidden;
}
.v15_443 {
  width: 241px;
  height: 182px;
  background: url("../images/v15_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 873px;
  overflow: hidden;
}
.v15_444 {
  width: 97px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_445 {
  width: 241px;
  height: 150px;
  background: url("../images/v15_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v15_446 {
  width: 81px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_447 {
  width: 169px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_448 {
  width: 124px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_449 {
  width: 37px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 119px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_450 {
  width: 152px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 159px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_451 {
  width: 275px;
  height: 308px;
  background: url("../images/v15_451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 568px;
  overflow: hidden;
}
.v15_452 {
  width: 59px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_453 {
  width: 215px;
  height: 276px;
  background: url("../images/v15_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v15_454 {
  width: 215px;
  height: 92px;
  background: url("../images/v15_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_455 {
  width: 93px;
  height: 30px;
  background: url("../images/v15_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v15_456 {
  width: 92px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_457 {
  width: 194px;
  height: 60px;
  background: url("../images/v15_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v15_458 {
  width: 195px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_459 {
  width: 103px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_460 {
  width: 215px;
  height: 92px;
  background: url("../images/v15_460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v15_461 {
  width: 93px;
  height: 30px;
  background: url("../images/v15_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v15_462 {
  width: 92px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_463 {
  width: 167px;
  height: 60px;
  background: url("../images/v15_463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v15_464 {
  width: 167px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_465 {
  width: 120px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_466 {
  width: 215px;
  height: 92px;
  background: url("../images/v15_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 0px;
  overflow: hidden;
}
.v15_467 {
  width: 93px;
  height: 30px;
  background: url("../images/v15_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v15_468 {
  width: 92px;
  color: rgba(199,72,23,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v15_469 {
  width: 200px;
  height: 60px;
  background: url("../images/v15_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v15_470 {
  width: 201px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_471 {
  width: 82px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v15_472 {
  width: 207px;
  height: 242px;
  background: url("../images/v15_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 331px;
  overflow: hidden;
}
.v15_473 {
  width: 105px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_474 {
  width: 207px;
  height: 210px;
  background: url("../images/v15_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v15_475 {
  width: 152px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_476 {
  width: 139px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_477 {
  width: 128px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 79px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_478 {
  width: 149px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 119px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_479 {
  width: 158px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 159px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_480 {
  width: 127px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 199px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_481 {
  width: 142px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 239px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_482 {
  width: 316px;
  height: 204px;
  background: url("../images/v15_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_483 {
  width: 241px;
  height: 18px;
  background: url("../images/v15_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 15px;
  overflow: hidden;
}
.v15_484 {
  width: 21px;
  height: 18px;
  background: url("../images/v15_484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_485 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v15_486 {
  width: 220px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 31px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_487 {
  width: 209px;
  height: 18px;
  background: url("../images/v15_487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 15px;
  overflow: hidden;
}
.v15_488 {
  width: 21px;
  height: 18px;
  background: url("../images/v15_488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_489 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v15_490 {
  width: 188px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 31px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_491 {
  width: 200px;
  height: 49px;
  background: url("../images/v15_491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 15px;
  overflow: hidden;
}
.v15_492 {
  width: 20px;
  height: 18px;
  background: url("../images/v15_492.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_493 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v15_494 {
  width: 179px;
  height: 36px;
  background: url("../images/v15_494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 13px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  overflow: hidden;
}
.v15_495 {
  width: 179px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_496 {
  width: 185px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v15_497 {
  width: 148px;
  color: rgba(19,19,19,1);
  position: absolute;
  top: 1px;
  left: 15px;
  font-family: Open Sans Condensed;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v15_498 {
  width: 170px;
  height: 163px;
  background: rgba(211,168,99,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 627px;
  border-top-left-radius: 85px;
  border-top-right-radius: 85px;
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  overflow: hidden;
}
.v15_499 {
  width: 138px;
  height: 116px;
  background: url("../images/v15_499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 16px;
  overflow: hidden;
}
.v15_500 {
  width: 282px;
  height: 900px;
  background: url("../images/v15_500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1425px;
  overflow: hidden;
}
